@import url("../splide-4.1.3/dist/css/splide.min.css");
@import "./base/reset.scss";
@import "./abstracts/variables.scss";
@import "./abstracts/mixin.scss";
@import "./layout/header.scss";
@import "./layout/hero_banner.scss";
@import "./layout/product_grid_tabs.scss";
@import "./layout/text_carousel.scss";
@import "./layout/sale_block.scss";
@import "./layout/product_slider.scss";
@import "./layout/inspiration.scss";
@import "./layout/single_banner.scss";
@import "./layout/our_service.scss";
@import "./layout/contact_shop.scss";
@import "./layout/footer.scss";
@import "./layout/sale_popup.scss";
@import "./layout/notification_popup.scss";

.app {
  position: relative;
}

.container-fluid {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.container-fluid-2 {
  max-width: 1410px;
  width: 100%;
  margin: 0 auto;
}

.orangy-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popupFadeIn {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
