@import "../abstracts/variables.scss";
@import "../abstracts/mixin.scss";

.faqs {
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;

  & h1 {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    color: $text-black;
  }
}

.faqs__list {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faqs__list-item {
  border-bottom: 1px solid #ededed;
}

.faqs__list-item.active {
  border: none;
}

.faqs__list-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  & h3 {
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
  }
}

.faqs__list-item.active .faqs__list-item-header {
  border-bottom: 1px solid #000;
}

.faqs__list-item-content {
  display: none;
  margin-top: 16px;
  font-family: Poppins;
  font-size: 1.6rem;
}

.faqs__list-item.active .faqs__list-item-content {
  display: block;
}
